<!-- Herencia de 'padre.html'-->
{% extends "padre.html" %}

{% block ContenidoQueCambia2 %}

    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h2>Proyectos</h2>
                    <p class="lead">Se han desarrollado proyectos a lo largo de todo el país y a nivel mundial.</p>
                    <p class="mb-0">Podes buscar nuestros proyectos en el siguiente formulario:</p>
                    <br>
                    <!-- Formulario-->
                    <form action="{% url 'ResultadosProyectos' %}" method="get">
                        <p>Nombre del proyecto: <input name="nombre"></p>
                        <button type="submit">Buscar</button>           
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock ContenidoQueCambia2 %}