{% extends "padre.html" %}

{% block ContenidoQueCambia2 %}

    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">

                    <p class="lead">Se buscaron los clientes con el nombre {{empresa}}, obteniendo los siguientes resultados:</p>
                    {% if especialidad %}
                        <ul>
                            {% for i in especialidad %}
                            <li>    
                                {{i.empresa}} - Especialidad: {{i.especialidad}} - Mail de contacto: {{i.mail}}
                            </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                    <p>No hubo coincidencias, inténtelo nuevamente.</p> 
                    {% endif %}                    
                </div>
            </div>
        </div>
    </section>

{% endblock ContenidoQueCambia2 %}