{% extends "padre.html" %}

{% block ContenidoQueCambia2 %}

    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h2>Socios</h2>
                    <p class="lead">SGV cuenta con socios con los cuales ha desarrollado diversos proyectos.</p>
                    <p class="mb-0">Podes buscar nuestros socios en el siguiente formulario:</p>
                    <br>

                    <form action="{% url 'ResultadosSocios' %}" method="get">
                        <p>Nombre del socio: <input name="empresa"></p>
                        <button type="submit">Buscar</button>           
                    </form>

                </div>
            </div>
        </div>
    </section>

{% endblock ContenidoQueCambia2 %}